body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1, h2, h3, p {
  line-height: 1em;
}

h1 {
  font-size: 200%;
  font-weight: normal;
  margin: .25em;
}

h2 {
  font-size: 100%;
  margin: .5em;
}

h2, h2, p {
  margin: 0;
}

form {
  background: #cccccc;
  background: -moz-linear-gradient(top, #cccccc 0%, #aaaaaa 100%);
  background: -webkit-linear-gradient(top, #cccccc 0%,#aaaaaa 100%);
  background: linear-gradient(to bottom, #cccccc 0%,#aaaaaa 100%);
  padding: .25em;
}

form:before, form:after {
  display: table;
  content: " ";
  clear: both;
}

form select {
  -webkit-appearance: none;
  font-size: 100%;
  display: block;
  float: left;
  padding: .5em;
  margin: .25em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: none;
  line-height: 1em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .5);
}

form label {
  background-color: #fff;
  float: left;
  padding: .5em;
  margin: .25em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  line-height: 1em;
  width: 1em;
  text-align: center;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .5);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  position: relative;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 2em solid #eee;
  list-style: none;
}

.list-item a {
  position: relative;
  display: block;
  padding: .5em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  color: #000;
}

.list-item span {
  display: block;
}

.list-item span.title {
  font-weight: bold;
}

.list-item[data-favorite="true"]:before,
.list-item[data-favorite="false"]:before {
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: -2em;
  width: 2em;
  padding-top: .25em;
  content: "\2605";
  color: #aaa;
}

.list-item[data-favorite="true"]:before {
  color: #000;
}

.list-item span.location {
  font-style: italic;
}

.list-item span.time {
}