.label {
  display: block;
  font-weight: bold;
}

.value {
  display: block;
}

.header .button.favorite {
  padding: 0;
  font-size: 200%;
  float: right;
  background-color: transparent;
  color: #555;
}

.header .button.favorite[data-active="true"] {
  color: #fff;
}